/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*, *before, *:after {
    box-sizing: border-box;
}
/* layout */
.wrap {
    width: 1024px;
    margin: 0 auto;
}
h2 a {
    display: block;
    width: 180px;
    height: 35px;
    background: url(https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/mutiplePage/logo.png) no-repeat;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}
.header h2 a {
    margin-top: 22px;
}
.header {
    height: 560px;
    position: relative;
}
.banner {
    display: flex;
    justify-content:space-between;
    background-color: rgba(53, 53, 51, 0.6);
    padding: 0 40px;
}
.header ul {
    display: flex;
}
.header li a {
    display: block;
    padding:28px 15px;
    margin-left: 9px;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    border-bottom: 6px solid transparent;
}
.header li a:hover {
    color: #00cc99;
    border-bottom: 6px solid #00cc99;
}
.footer {
    display: flex;
    justify-content: space-between;
    height: 135px;
    background-color: #323228;
    position: relative;
}
.footer ul {
    display: flex;
    margin: 50px 40px;
}
.footer li {
    margin-left: 20px;
}
.footer h2 {
    margin: 35px 40px;
}
.footer::after {
    content:'© 2018 Hexschool';
    color:#868684;
    position: absolute;
    left: 72px;
    top:78px;
}
h1 {
    font-size: 50px;
    color: #00cc99;
}
h1 span {
    color: white;
}
.header p {
    font-size: 24px;
    color: #00cc99;
}
.header input {
    width: 220px;
    height: 55px;
    font-size: 20px;
    border-radius: 8px;
    border: none;
    color: white;
    background-color: #00cc99;
    text-align: center;
    cursor: pointer;
}
.header input:hover {
    background-color: white;
    color: #00cc99;
}

/*index*/
.indexheader {
    margin: 80px 0 0 40px;
    line-height: 85px;
}
.indexbutton {
    position: absolute;
    bottom: 140px;
    left: 40px;
}
.indexcontent {
    padding: 0 40px;
    position: relative;
}
.indexcontent form .indexclass {
    position: absolute;
    right:40px;
    top:0;
    padding: 10px 16px;
    font-size: 16px;
    color: #00cc99;
    background-color: #fff;
    border: 2px solid #00cc99;
    border-radius: 5px;
    cursor: pointer;
}
.indexcontent form .indexclass:hover {
    font-weight: bold;
}
.indexcontent h3 {
    color: #00cc99;
    font-size: 36px;
    margin: 60px 0 30px 0;
    letter-spacing: 2px;
}
.indexcontent span {
    color: #9b9b9b;
    font-size: 20px;
}
.indexcontent ul {
    display: flex;
    justify-content: space-between;
}
.indexcontent ul img {
    display: block;
    margin: 28px auto;
}
.indexcontent ul li {
    border: 1px solid rgba(72, 72, 72, 0.2);
    width: 300px;
    border-radius: 5px;
    box-shadow: 0px 3px 6px 2px rgba(72, 72, 72, 0.3);
}
.indexcontent ul li:hover {
    box-shadow: 0px 3px 6px 2px rgba(72, 72, 72, 1);
}
.indexcontent li h4 {
    font-size: 20px;
    text-align: center;
}
.indexcontent li p {
    font-size: 15px;
    line-height: 25px;
    margin: 20px 16px;
    color: #a2a2a2;
    letter-spacing: 1px;
}
.indexcontent table {
    width: 100%;
    margin-bottom: 60px;
}
.indexcontent table th, .indexcontent table td {
    padding:16px 0;
    text-align: center;
}
.indexcontent table th {
    background-color: #ebebeb;
}
.indexcontent table td {
    border-bottom: 1px solid #ebebeb;
}
.indexcontent table span {
    color: #00cc99;
    font-size: 16px;
}
.indexform {
    padding: 140px 40px 40px 40px;
    display: flex;
    background-color: #ebebeb;
}
.indexform h5 {
    font-size: 30px;
    line-height: 60px;
}
.indexform input {
    display: block;
    margin: 0 0 20px 110px ;
    width: 460px;
    height: 55px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    text-indent: 20px;
}
.indexform .submit {
    width: 140px;
    height: 52px;
    color: white;
    background-color: #00cc99;
    float: right;
    cursor: pointer;
    text-indent: 0;
}
.indexform .submit:hover {
    font-weight: bold;
}
/*course*/
.courseheader {
    letter-spacing: 3px;
    margin: 96px 0 0 40px;
    line-height: 55px;
}
.courseheaderp {
    margin: 10px 0 0 40px;
}
.coursebutton {
    position: absolute;
    left: 40px;
    bottom: 185px;
}
.coursebanner {
    position: absolute;
    top: 90px;
    right: 30px;
}
.coursebanner li {
    margin: 15px;
}
.coursecontent {
    padding: 0 200px;
    margin: 0 auto;
}
.courseintro {
    display: flex;
    margin-top: 60px;
}
.courseintro h3, .courseintro ul {
    margin: 70px 0 0 40px;
}
.courseintro h3 {
    font-size:36px;
    line-height: 52px;
}
.courseintro span {
    color: #00cc99;
}
.courseintro li {
    color:#9b9b9b;
    list-style-type: disc;
    list-style-position:inside;
    font-size: 16px;
    line-height: 26px;
}
.coursecontent h4 {
    color: #00cc99;
    font-size: 36px;
    margin: 60px 0 30px 0;
    letter-spacing: 2.5px;
}
.coursecontent h4 span {
    color: #9b9b9b;
    font-size: 20px;
}
.coursecontent ol {
    margin-left: 20px;
    list-style-position:outside;
    list-style-type: decimal;
    font-size: 16px;
    line-height: 26px;
}
.coursecontent table {
    margin-bottom: 60px;
}
.coursecontent table td, .coursecontent table th {
    padding: 20px 40px;
    display: block;
    width: 615px;
}
.coursecontent table td:hover, .coursecontent table th:hover {
    font-weight: bold;
}
.coursecontent th {
    text-align: left;
    background-color: #ebebeb;
}
.coursecontent td {
    color: #9b9b9b;
}
.courseform {
    display: flex;
    padding: 158px 0 152px 204px;
    background-color: #ebebeb;
}
.courseform h5 {
    font-size: 28px;
    line-height: 62px;
}
.courseform input {
    width: 220px;
    height: 52px;
    margin:70px 0  0 65px;
    font-size: 20px;
    color: white;
    background-color: #00cc99;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.courseform input:hover {
    font-weight: bold;
    background-color:white;
    color: #00cc99;
    border: 3px solid #00cc99;
}
/*faq*/
.faqheader, .faqheaderp {
    text-align: center;
}
.faqheader {
    margin: 110px 0 10px 0;
}
.searchbox {
    display: flex;
    position: relative;
    width: 625px;
    height: 52px;
    margin: 52px auto;
    align-items: center;
}
.searchbox .box {
    width: 625px;
    background-color: white;
    border-radius: 5px;
}
.searchbox .box:focus {
    border: blue 2px solid;
}
.searchbox button {
    position: absolute;
    right:10px;
    border: none;
    background-color: white;
    color: black;
    cursor: pointer;
}
.faqcontent {
    padding: 0 136px 60px 80px;
}
.faqcontent h3 {
    letter-spacing: 2px;
    font-size: 35px;
    color: #00cc99;
    margin: 60px 0 35px 0;
}
.faqcontent span {
    font-size: 20px;
    color: #9b9b9b;
}
.faqcontent .q {
    letter-spacing: 2px;
    font-size: 20px;
    line-height: 32px;
    list-style: none;
    color: black;
}
.faqcontent .a {
    list-style: none;
}
.faqcontent .a, .faqcontent ul, .faqcontent ol {
    color: #9b9b9b;
    letter-spacing: 1.5px;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 25px;
}
.faqcontent a {
    text-decoration: none;
    color: #00cc99;
}
.faqcontent .installment, .faqcontent .return {
    padding-left: 60px;
}
.faqcontent .installment {
    list-style-type: decimal;
}
.faqcontent .return {
    list-style: disc;
}
.faqcontent .installment li, .faqcontent .return li {
    list-style-position:initial;
    padding-left: 20px;
}
.faqform {
    background-color: #ebebeb;
    display: flex;
    justify-content: space-between;
    padding: 120px 42px 40px 42px;
}
.faqform input, .faqform textarea {
    display: block;
}
.faqform h5 {
    font-size: 30px;
    line-height: 65px;
}
.faqform input, .faqform textarea {
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    font-size: 20px;
    text-indent: 20px;
}
.faqform input {
    width: 460px;
    height: 50px;
}
.faqform textarea {
    width: 460px;
    height: 204px;
    resize:none;
}
.faqform .submit {
    width: 140px;
    height: 53px;
    background-color: #00cc99;
    color: white;
    cursor: pointer;
    float: right;
    text-indent: 0;
}
.faqform .submit:hover {
    font-weight: bold;
}
